<div class=" table-container">
    <h1 class="text-4xl font-bold text-gray-900">Point Table</h1>
    <div class=" overflow-x-auto">
        <table class="shadow-lg min-w-full bg-white border border-gray-200">
          <!-- Table Header -->
          <thead>
            <tr>
                @for (heading of tableHeading; track $index) {
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">{{heading}}</th>
             
                }
             </tr>
          </thead>
          <!-- Table Body -->
          <tbody class="bg-white">
            <!-- Table Row -->
            @for (team of pointTable; track $index) {
                <tr class="hover:bg-gray-50">  
                    @if ($index > 0) {
                        @for (data of team; track $index) {
                        
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">{{data}}</td>
                            
                        }
                    }
                </tr>
            }
          </tbody>
        </table>
      </div>
      
      
</div>
